<div style="padding: 16px">
  <mat-toolbar color="primary">
    <span>Calendar App</span>
  </mat-toolbar>
  <div>
    <p>Hi Ala Missaoui,</p>
    <p>
      This is a reminder that your assessment for the Frontend JavaScript
      Engineer position starts in 24h.
    </p>
    <p>
      Your technical task will be to create a simple calendar application from
      scratch. To reduce the implementation time, please make use of Angular
      Material and the Angular CDK (this is a MUST, don’t use any other
      libraries).
    </p>
    <p>
      Make sure to check out the helping material we offer you at:
      <a href="https://payever.careers/landing-pages/technical-faq"
        >https://payever.careers/landing-pages/technical-faq</a
      >
    </p>
    <p>
      You will receive the specific tasks in a followup email immediately after
      the event.
    </p>
    <p>
      If you haven't received it 5 minutes after the appointment, check your
      spam folder or send us an email at
      <a href="mailto:teamhr@payever.org">teamhr@payever.org</a>
    </p>
    <p>See you then</p>
    <p>Your payever Careers Team</p>
  </div>
  <app-calendar></app-calendar>
</div>
